header{
    height: 100hv;
    padding-top: 6rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*===============CTA===============*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/*=============== HEADER SOCIALS ===============*/
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
/*=============== ME ===============*/
.me{
    background:linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position:relative;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    /* border-radius: 12rem 12rem 0 0; */
    box-shadow : inset 0 0 0 3px var(--color-bg-variant);
    overflow: hidden;
    height: 400px;
    width: 400px;
    padding: 1rem 1rem 1.5rem 1.5rem;
    animation: profile_animation 8s ease-in-out infinite 0.5s;

    /* background: url(../../assets/me4.png);
    background:linear-gradient(var(--color-primary),transparent);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow : inset 0 0 0 15px var(--color-bg-variant);
    order: 1;
    justify-content: center;
    width: 400px;
    height: 420px;
    animation: profile_animation 8s ease-in-out infinite 0.5s;
    align-items: center;
    margin-top: 4rem;
    position: relative;
    left: calc(50% - 11rem);
    padding: 5rem 1.5rem 1.5rem 1.5rem; */

}

/*====== ANIMATION =============*/
@keyframes profile_animation {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/*=============== SCROLL DOWN ===============*/
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*=======================MEDIA QUERIES (MEDIUM DEVICES)=======================*/
@media screen and (max-width:1024px){
    header{
        height: 90vh;
    }
}

/*=======================MEDIA QUERIES (SMALL DEVICES)=======================*/
@media screen and (max-width:600px){
    header{
        height: 100%;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
    .me{
        width: 17rem;
        height: 16rem;
        position:relative;
        left: calc(50% - 8.5rem);
    }
    /* .header{
        height: 100hv;
        padding-top: 2rem;
        overflow: hidden;
    } */
}
